<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
    <center><h1>Ony Velez</h1>
    <img class="logo" src="http://securedhomesolutions.com/wp-content/uploads/2012/08/adtTransparent.png"></center>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    <p>Do you have any idea how often you say the word afraid? Well, I know I used it in the Jacuzzi. Happy Franklin Friday. Michael, look, this has got to stop. I mean, flattered? Yes. Interested? Not tonight. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.</p>
  </div>
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
</div>
<div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="..." alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading">Middle aligned media</h4>
  <p>We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that’s right for you. We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
</div>
</div>
</div>

  <div class="panel panel-default">
  <div class="panel-body">
    Graphic Design
Whether you require large banners and posters to promote your company or some more subtle letter heads and business cards, our highly skilled graphic designers will produce the perfect article for you.
  </div>
</div>



<footer class="footer">

  <center><ul class="contact">
      <h2>Contact Me </h2>
    <li>Phone: 800-555-5555</li>
    <li>Email: ony.velez@gmail.com</li>
    <li>Availible 24/7</li>
  </ul></center>

</footer>

  </body>
</html>
