<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
    <center><h1>Ony Velez</h1>
    <img class="logo animated flash" src="http://securedhomesolutions.com/wp-content/uploads/2012/08/adtTransparent.png"></center>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body animated slideInLeft">
    <h4 class="media-heading">Middle aligned media</h4>
    <p>Do you have any idea how often you say the word afraid? Well, I know I used it in the Jacuzzi. Happy Franklin Friday. Michael, look, this has got to stop. I mean, flattered? Yes. Interested? Not tonight. I hate the Wetlands. They're stupid and wet, and there are bugs everywhere, and I think I maced a crane.</p>
  </div>
<div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="..." alt="...">
  </a>
</div>
<div class="media-body animated slideInRight">
  <h4 class="media-heading">Free System and Quality Service Plan</h4>
  <p>As an ADT customer, you'll get your monitored home security system free. That's an $850 value. You also get the ADT Quality Service Plan, an extended limited warranty covering all newly installed equipment. You don't have to pay an extra fee for this extra assurance – the cost is included in your monthly monitoring rate! Last but not least, every monitored home security system is professionally installed by a qualified technician who will show you how to operate the equipment and use the ADT monitoring features.</p>
</div>
</div>
</div>

<center>  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Essentials: $9/week</h3>
  </div></center>
  <div class="panel-body">
    <p>If you want increased home protection with maximum affordability, the Essentials package is the ideal choice. You get all the standard features and equipment that make up the foundation of ADT monitored security – 24-7 monitoring, pet-friendly motion detector, 3 door/window sensors and more!</p>
      <div class="col-md-2">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Features <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a>24-hour alarm monitoring</a></li>
    <li><a>Digital Keypad</a></li>
    <li><a>3 Door/Window Sensors</a></li>
    <li><a>Infared Motion Detector</a></li>
    <li><a>High-Decibel Alarm Siren</a></li>
    <li><a>Backup Battery</a></li>
    <li><a>Wireless Keychain Remote</a></li>
    <li><a>Yard Sign and Window Decals</a></li>
  </ul>
</div>
  </div>
</div>

<center><div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Essentials Plus: $10/week</h3>
</div></center>
<div class="panel-body">
  <p>Essentials Plus adds the Two-Way Voice feature to the Essentials monitoring package. Two-Way Voice gives you the ability to communicate with an ADT Customer Monitoring Center hands-free through a special keypad intercom. The intercom has a range of 75 feet, so you can get help quickly even if you can't get to a phone.</p>

    <div class="col-md-2">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Features <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a>Two-Way Voice</a></li>
  <li><a>24-hour alarm monitoring</a></li>
  <li><a>Digital Keypad</a></li>
  <li><a>3 Door/Window Sensors</a></li>
  <li><a>Infared Motion Detector</a></li>
  <li><a>High-Decibel Alarm Siren</a></li>
  <li><a>Backup Battery</a></li>
  <li><a>Wireless Keychain Remote</a></li>
  <li><a>Yard Sign and Window Decals</a></li>
</ul>
</div>
</div>
</div>

<center><div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Total Protection: $11/week</h3>
</div></center>
<div class="panel-body">
  <p>No landline? No problem. Total Protection features cellular alarm monitoring with Safewatch® CellGuard®. CellGuard® connects your home security system to ADT's monitoring network using a reliable wireless signal. You don't need a landline telephone for monitored home security – you need Total Protection!</p>
    <div class="col-md-2">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Features <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a>Safewatch® CellGuard®</a></li>
  <li><a>24-hour alarm monitoring</a></li>
  <li><a>Digital Keypad</a></li>
  <li><a>3 Door/Window Sensors</a></li>
  <li><a>Infared Motion Detector</a></li>
  <li><a>High-Decibel Alarm Siren</a></li>
  <li><a>Backup Battery</a></li>
  <li><a>Wireless Keychain Remote</a></li>
  <li><a>Yard Sign and Window Decals</a></li>
</ul>
</div>
</div>
</div>

<center><div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Total Protection Plus: $12/week</h3>
</div></center>
<div class="panel-body">
  <p>Want the best of both the Essentials Plus and Total Protection packages? Total Protection Plus has Safewatch® CellGuard® and Two-Way Voice. You get reliable cellular monitoring, no landline needed, plus the added protection of a hands-free intercom system that keeps you connected to ADT's staff of trained monitoring professionals.
</p>
    <div class="col-md-2">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Features <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a>Safewatch® CellGuard®</a></li>
  <li><a>Two-Way Voice</a></li>
  <li><a>24-hour alarm monitoring</a></li>
  <li><a>Digital Keypad</a></li>
  <li><a>3 Door/Window Sensors</a></li>
  <li><a>Infared Motion Detector</a></li>
  <li><a>High-Decibel Alarm Siren</a></li>
  <li><a>Backup Battery</a></li>
  <li><a>Wireless Keychain Remote</a></li>
  <li><a>Yard Sign and Window Decals</a></li>
</ul>
</div>
</div>
</div>

<center><div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Premium Protection with ADT Pulse®: $14/week</h3>
</div></center>
<div class="panel-body">
  <p>This comprehensive monitored security and home automation package features ADT Pulse® Interactive Solutions in addition to Safewatch® CellGuard®. ADT Pulse lets you control your monitored home security system remotely using a computer, tablet or smartphone. You can even upgrade your package to include wireless cameras, remote door locks, thermostat control and more!
</p>
    <div class="col-md-2">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Features <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a>Safewatch® CellGuard®</a></li>
  <li><a>ADT Pulse® Interactive Solutions</a></li>
  <li><a>24-hour alarm monitoring</a></li>
  <li><a>Digital Keypad</a></li>
  <li><a>3 Door/Window Sensors</a></li>
  <li><a>Infared Motion Detector</a></li>
  <li><a>High-Decibel Alarm Siren</a></li>
  <li><a>Backup Battery</a></li>
  <li><a>Wireless Keychain Remote</a></li>
  <li><a>Yard Sign and Window Decals</a></li>
</ul>
</div>
</div>
</div>



<footer class="footer">

  <center><ul class="contact">
      <h2>Contact Me </h2>
    <li>Phone: 800-555-5555</li>
    <li>Email: ony.velez@gmail.com</li>
    <li>Availible 24/7</li>
  </ul></center>

</footer>

  </body>
</html>
